force-app/main/default/flows/Commission_Periods_Only_One_Active.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_new_Collection</name>
        <label>Add To new Collection</label>
        <locationX>565</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>ActiveCommissionPeriodsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CommissionPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Through_Active_Commision_Periods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_to_Inactive</name>
        <label>Assign Active to Inactive</label>
        <locationX>425</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>CommissionPeriod.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_new_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Commission Periods Only One Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commission Periods Only One Active</label>
    <loops>
        <description>Loop through and change Periods</description>
        <name>Look_Through_Active_Commision_Periods</name>
        <label>Look Through Active Commision Periods</label>
        <locationX>533</locationX>
        <locationY>14</locationY>
        <assignNextValueToReference>CommissionPeriod</assignNextValueToReference>
        <collectionReference>ActiveCommissionPeriods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Active_to_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commission_Periods_to_Inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commission_Periods_that_are_active</name>
        <label>Get Commission Periods that are active</label>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Through_Active_Commision_Periods</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>commPeriodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CommissionPeriod__c</object>
        <outputReference>ActiveCommissionPeriods</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>isActive__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commission_Periods_to_Inactive</name>
        <label>Update Commission Periods to Inactive</label>
        <locationX>819</locationX>
        <locationY>123</locationY>
        <inputReference>ActiveCommissionPeriodsToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Commission_Periods_that_are_active</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActiveCommissionPeriods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommissionPeriod__c</objectType>
    </variables>
    <variables>
        <name>ActiveCommissionPeriodsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommissionPeriod__c</objectType>
    </variables>
    <variables>
        <name>CommissionPeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommissionPeriod__c</objectType>
    </variables>
    <variables>
        <description>Commission Period ID</description>
        <name>commPeriodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
